<app-header title="Premium" icon="grade"></app-header>
<app-search></app-search>

<pre>
    ________________________________________
    / You can do very well in speculation    \
    | where land or anything to do with dirt |
    \ is concerned.                          /
     ----------------------------------------
            \   ^__^
             \  (oo)\_______
                (__)\       )\/\
                    ||----w |
                    ||     ||
                module premium works!

</pre>

<app-footer></app-footer>