<app-header title="Profile" icon="perm_identity"></app-header>
<app-search></app-search>

<pre>
    _________________________________________
    / Q: Why is it that the more accuracy you \
    | demand from an interpolation            |
    |                                         |
    | function, the more expensive it becomes |
    | to compute? A: That's the Law of Spline |
    \ Demand.                                 /
     -----------------------------------------
            \   ^__^
             \  (oo)\_______
                (__)\       )\/\
                    ||----w |
                    ||     ||
                module profile works!
</pre>

<app-footer></app-footer>
